body .content {
    column-count: 4;
    column-gap: 15px;
    padding: 10px 10%;
}

.content_hidden {
    display: none;
}

.content__status {
	color: #fff;
}

.content_loading {
    opacity: 0.5;
}	
